body{
    padding: 0px;
    margin: 0px auto;
    font-family: "Open Sans", sans-serif;
}
.head{
    display: flex;
    justify-content: center;
    height: 50px;
    background: #202d4e;
}
:root{
    --text-color: #ffffff;
    --link-color: #ede7a8;
    --border-color: #AAAAAA;
    --text1-color: #3f5385;
}
.head p{
    color: var(--text-color);

}
.head p a{
    color: var(--link-color);
    border-bottom: 3px solid var(--border-color);
    text-decoration: none;
}
.text-buy{
    display: flex;
    padding: 50px;
    background-color: #e6f4f1;
    justify-content: center;
}
.text-buy .text{
    width: 655px;
    font-family: paralucent, sans-serif;
    --text2-color: #4166d2;
    --text4-color: #000000;
    --border-btn-color: #bad0eb;
}
.text-buy .text ul{
    list-style: none;
    padding-top: 60px; 
}
.text-buy .text ul li{
    padding: 5px;
}
.text-buy .text ul .text-1{
    font-size: 38px;
    color: var(--text1-color);
}
.text-buy .text ul .text-2{
    font-size: 64px;
    font-family: Gill Sans MT;
    color: var(--text2-color);
}
.text-buy .text ul .text-3 p{
    color: var(--text1-color);
    font-size: 20px;
}
.text-buy .text ul .button button{
    width: 250px;
    height: 75px;
    border: none;
    border-radius:  5px;
    background-color: var(--text2-color);
    transition: 0.4s;
}
.text-buy .text ul .button button:hover{
    background-color: var(--text1-color);
}
.text-buy .text ul .button button a{
    font-size: 20px;
    color: var(--text-color);
    text-decoration: none;
}
.text-buy .text ul .text-4 p{
    color: var(--text1-color);
}
.text-buy .text ul .text-4 p a{
    text-decoration: none;
    font-size: 20px;
    color: var(--text4-color);
    border-bottom: 5px solid var(--border-btn-color);
}
.text-buy .img-book img{
    width: 375px;
    height: 535px;
    border-radius: 5px;
}
.banner-book{
    display: flex;
    background-color: #4166d2;
    justify-content: center;
    padding: 50px;
}
.banner-book ul{
    list-style-type: none;
}
.banner-book ul li{
    padding: 15px;
}
.banner-book ul .book-1{
    display: flex;
    justify-content: center;
}
.banner-book ul .book-1 p{
    padding-top: 25px; 
    width: 533px;
    height: 75px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 5px;
}
.banner-book ul .book-2{
    display: flex;
    justify-content: center;
}
.banner-book ul .book-2 p{
    width: 505px;
    height: 75px;
    text-align: center;
    color: #ffffff;
}
.banner-book ul .book-3{
    background: #ffffff;
    border-radius: 10px 10px 0px 0px;
}
.banner-book ul .book-3 .book li{
    display: flex;
}
.banner-book ul .book-3 .book .bg-color{
   justify-content: center;
}
.banner-book ul .book-3 .book .bg-color b{
    color: #4166d2;
    font-size: 30px;
}
.banner-book ul .book-3 .book .text-circle{
    background: #f0f8f7;
    display: flex;
    margin-left: -55px;
    margin-right: -15px;
}
.banner-book ul .book-3 .book .text-circle .div1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #b0c4ff;
    text-align: center;
}
.banner-book ul .book-3 .book .text-circle .div2{
    width: 618px;
    padding-left: 20px;
}
.banner-book ul .book-3 .book .text-circle2{
    background: #ffffff;
}
.banner-book ul .book-3 .book .text-circle:last-child{
    margin-bottom: -15px;
}
.informations{
    background: #202d4e;
}
.informations h3{
    margin-top: 0px;
    padding: 50px;
    text-align: center;
    color: #ffffff;
    font-size: 40px;
}
.informations .list-infor{
    display: flex;
    justify-content: center;
}
.informations .list-infor .left{
    width: 450px;
    padding: 10px;
}
.informations .list-infor .left ul{
    list-style: none;
}
.informations .list-infor .left li{
    display: flex;
    color: #ffffff;
    font-size: 20px;
}
.informations .list-infor .left li img{
    margin-right: 20px;
    margin-top: -100px;
    width: 50px;
}
.infor-people{
    background: #e6f4f1;
    padding: 50px;
}
.infor-people h1{
    text-align: center;
    color: #3864d9;
    font-size: 50px;
}
.infor-people .praise{
    display: flex;
    justify-content: center;
}
.infor-people .praise ul{
    list-style: none;
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.infor-people .praise .praise-1{
   margin-left: -40px;
   width: 400px;
   background: #ffffff;
   border-radius: 10px;
}
.infor-people .praise .praise-1 .friend{
    display: flex;
    background: #e6f4f1;
    padding-top: 20px;
    height: 50px;
    border-bottom-left-radius: 30px; 
}
.infor-people .praise .praise-1 .friend img{
    width: 50px;
    height: 50px;
    margin-top: -10px;
    margin-right: 10px;
    border-radius: 50%;
    border: 5px solid #ffffff;
}
.infor-people .praise .praise-1 .friend .friend-name p{
    margin-top: 0px;
}
.infor-people .praise .praise-1 .friend .friend-name a{
    text-decoration: none;
    color: #000000;
}
.spend-book{
    background: #202d4e;
    padding: 50px;
}
.spend-book h2{
    color: #ffffff;
    text-align: center;
    font-size: 40px;
}
.spend-book .spend{
    width: 400px;
    background: #e1efec;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-left: 476px;
}
.spend-book .spend img{
    width: 130px;
    height: 180px;
    border-radius: 20px;
    padding: 10px;
    margin-left: 127px;
}
.spend-book .spend p{
    text-align: center;
}
.spend-book .spend p del{
    font-size: 20px;
}
.spend-book .spend p span{
    font-size: 40px;
    color: #3964d7;
    font-weight: bolder;
    margin-left: 10px;
}
.spend-book .spend button{
    width: 350px;
    height: 50px;
    background: #3864d9;
    border: none;
    border-radius: 5px;
    margin-left: 25px;
    transition: 0.4s;
}
.spend-book .spend button:hover{
    background: #202d4e;
}
.spend-book .spend button a{
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}
.spend-book .text-bottom{
    padding-top: 20px;
    text-align: center;
    color: #ffffff;
}
.footer{
    background: #e6f4f1;
    padding: 50px;
}
.footer .top{
    text-align: center;
}
.footer .top h1{
    color: #3864d9;
    font-size: 40px;
}
.footer .top a{
    text-decoration: none;
    color: #000000;
}
.footer .bottom h1{
    text-align: center;
    color: #3864d9;
    padding-top: 150px;
    font-size: 40px;
}
.footer .bottom .border{
    display: flex;
    width: 1000px;
    background: #ffffff;
    border-radius: 10px;
    margin-left: 200px;
}
.footer .bottom .border img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 30px;
}
.footer .bottom .border .infor-ahmad{
    width: 500px;
    margin-top: 30px;
}
.footer .bottom .border .infor-ahmad b{
    color: #202d4e;
    font-size: 30px;
}
.footer .bottom .border .link{
    background: #dfedeb;
    width: 300px;
    height: 155px;
    margin: 15px;
    padding: 7px; 
}
.footer .bottom .border .link b{
    font-size: 20px;
}
.footer .bottom .border .link a{
    text-decoration: none;
    color: #000000;
}
.footer .bottom .border .link .fa{
    color: #9bb4b1;
    margin: 5px;
}