.siderbar .view{
	position: sticky;
	top: 0px;
	z-index: 3;
	transition: 0.4s;
	border-top-left-radius: 18px;
	transition-timing-function: ease-out;
}
.siderbar ul li{
	width: 100%;
	margin-bottom: 10px;
}
.siderbar ul li:hover{
	background-color: unset;
}
.siderbar ul li .image{
	width: 100%;
}
.siderbar ul li .image img{
	width: 100%;
	height: 100%;
	margin-top: 10px;
}